<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="apiHost" value="https://dmais.diferpan.com.br/ws" />
		<add key="apiToken" value="eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI5NjA5MiIsImlhdCI6MTcxNzY4OTg3NCwic3ViIjoiVk1JIiwiaXNzIjoiRGlmZXJwYW4iLCJleHAiOjY1NzkxOTAxMzQ5fQ.TnppQMH8JJRXePS8i3CgswChplUX5p7tpfxhBTl2g6Y" />
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=winten;Database=base;User Id=sa;Password=om;TrustServerCertificate=True;" />
	</connectionStrings>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>
</configuration>